@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* --- RESET & BASE --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

/* --- SIGN IN PAGE --- */
.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.sign .container {
  width: 45rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3rem;
}

.sign label {
  font-size: 1.7rem;
  color: #ddd;
  text-transform: uppercase;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

.sign input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 9px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sign button {
  padding: 1.5rem 5rem;
  border-radius: 50rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.sign button:hover {
  background-color: white;
  transform: translateY(-2px);
}

/* --- RESPONSIVE MODIFICATIONS (Sign In) --- */
@media (max-width: 600px) {
  .sign .container {
    width: 85%;
    padding: 6rem 3rem;
  }

  .sign h1 { font-size: 6rem; }
  .sign label { font-size: 3rem; }
  .sign input { 
    font-size: 3.5rem; 
    padding: 2.5rem; 
    margin-bottom: 4rem;
  }
  .sign button { 
    font-size: 3.5rem; 
    padding: 2rem 8rem; 
  }
}